/*导航*/
.slideBox{
    position:relative;
    overflow:hidden;
    width:100%;
    float: left;
}
.slideBox .hd{
    position: absolute;
    height: 1em;
    right: 5%;
    bottom: 10px;
    z-index: 1;
    width: 100%;
    text-align: center;
}
.slideBox .hd li{
    display:inline-block;
    width: 15px; height:15px;
    background-color: gray;
    text-indent:-9999px;
    border: 1px solid #fff;
    border-radius: 10px;
    overflow:hidden;
    margin:0 3px;
}
.slideBox .hd li.on{ background:#6496EB;  }
.slideBox .bd{ position:relative; z-index:0; }
.slideBox .bd li{ position:relative; text-align:center;  }
/*.slideBox .bd li img{ background:url(images/loading.gif) center center no-repeat;  vertical-align:top; width:100%;!* 图片宽度100%，达到自适应效果 *!}*/
.slideBox .bd li a{ -webkit-tap-highlight-color:rgba(0,0,0,0);  }  /* 去掉链接触摸高亮 */
