/*banner*/
.banner{
    overflow: hidden;
    position: relative;
    height: 476px;
}

.banner .hd{
    position: absolute;
    bottom: 15px;
    z-index: 1;
    width: 100%;
}

.banner .hd ul{
    width: 100%;
    text-align: center;
}

.banner .hd ul li{
    width: 20px;
    height: 20px;
    border-radius: 20px;
    display: inline-block;
    margin: 0 6px;
    background: #8A8A85;
}

.banner .hd ul li.on{
    background: #1E140E;
}

.banner .bd{
    width: 100%;
}

.banner .bd ul li a img{
    width: 100%;
}