.header{
    width: 100%;
    overflow: hidden;
}

.header-container{
    width: 1200px;
    margin: 30px auto 20px;
}

.header-container .logo{
    float: left;
}

.header-container .logo a{
    display: inline-block;
}

.header-nav{
    float: right;
}

.header-nav ul li{
    float: left;
    margin-right: 12px;
    background: url(../images/navbg.png) no-repeat;
}

.header-nav ul li:last-child{
    margin-right: 0;
}

.header-nav ul li a{
    display: inline-block;
    color: #000000;
    font-size: 18px;
    padding: 13px 25px;
}

.header-nav ul li:hover{
    background: #FE3365;
}

.header-nav ul li:hover a{
    color: #ffffff;
}

.mt30{
    margin-top: 30px;
}

.mt40{
    margin-top: 40px;
}

.mt50{
    margin-top: 50px;
}

.pinzhong{

}

.big-title{
    text-align: center;
}


.big-title span{
    font-size: 30px;
    color: #333333;
}

.redLine{
    background: #FE3365;
    width: 45px;
    height: 3px;
    margin: 0 auto;
    margin-top: 10px;
}

.sub-title{
    margin-top: 15px;
    text-align: center;
}

.sub-title span{
    font-size: 14px;
    color: #999999;
}

.pingzhong-list{
    /*margin-top: 20px;*/
    width: 1200px;
    margin: 40px auto 0;
}

.pingzhong-list ul{
    position: relative;
}

.pingzhong-list ul li{
    float: left;
    width: 25%;
}

.pingzhong-list ul li .bg{
    display: none;
    position: absolute;
    top: 0;
    width: 284px;
    height: 220px;
    background: #000;
    opacity: 0.53;
}

.pingzhong-list ul li .bg img{
    position: absolute;
    top: 89px;
    left: 115px;
    width: 42px;
    height: 42px;
    display: none;
}

.pingzhong-list ul li:hover .bg{
    display: block;
}

.pingzhong-list ul li:hover .bg img{
    display: block;
}

.pingzhong-list ul li:hover .pingzhong-title a span{
    color: #FE3365;
}

.pingzhong-title{
    text-align: center;
    margin: 10px;
}

.pingzhong-title a span{
    color: #666666;
    font-size: 18px;
}

.base-show{
    background: #FEFEFE;
    padding-top: 40px;
    padding-bottom: 30px;
}

.base-show .base-list{

    width: 1200px;
    margin: 40px auto 0;

}

.base-show .base-list ul li{
    float: left;
    margin-right: 13px;
    margin-bottom: 20px;
    padding: 10px 10px 20px 10px;
    border: 1px solid #d6d2d2;
    width: 265px;
}

.base-show .base-list ul li .base-title{
    text-align: center;
    line-height: 40px;
    height: 20px;
}

.base-show .base-list ul li .base-title a{
    color: #999999;
    font-size: 14px;
}

.base-show .base-list ul li:hover{
    background: #FE3365;
}

.base-show .base-list ul li:hover a{
    color: #ffffff;
}

.shili-list{
    width: 1200px;
    margin: 40px auto 0;
}

.shili-list ul li{
    float: left;
    width: 350px;
    padding: 20px 20px 20px 15px;
    border: 1px solid #d6d2d2;
    margin-right: 18px;
}

.shili-list ul li:hover{
    border: 1px solid #FE3365;
}

.shili-list ul li:last-child{
    margin-right: 0;
}

.shili-list ul li .shili-icon{
    float: left;
}

.shili-list ul li .shli-bigTitle{
    margin-left: 80px;
}

.shili-list ul li .shli-bigTitle span{
    font-size: 18px;
    color: #666666;
    cursor: pointer;
}

.shili-list ul li .shili-subTitle{
    margin-left: 80px;
    margin-top: 8px;
    cursor: pointer;
}

.shili-list ul li .shili-subTitle span{
    font-size: 14px;
    color: #999999;

    line-height: 1.8;
}

.yangzhi{
    background: #FEFEFE;
    padding-top: 40px;
    padding-bottom: 30px;
}

.yangzhi .yangzhi-list{
    width: 1200px;
    margin: 40px auto 0;
}

.yangzhi .yangzhi-list ul li{
    float: left;

    width: 388px;
    height: 165px;
    border: 1px solid #d6d2d2;

    margin-right: 15px;
    margin-bottom: 15px;

    cursor: pointer;
}

.yangzhi .yangzhi-list ul li:nth-child(3){
    margin-right: 0;
}

.yangzhi .yangzhi-list ul li:last-child{
    margin-right: 0;
}


.yangzhi .yangzhi-list ul li .yangzhi-bigTitle{
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.yangzhi .yangzhi-list ul li .yangzhi-bigTitle span{
    font-size: 18px;
    color: #ff3366;
    cursor: pointer;
}


.yangzhi .yangzhi-list ul li .yangzhi-subTitle{
    text-align: left;
    margin: 0 auto;
    width: 85%;
    line-height: 1.8;
}

.yangzhi .yangzhi-list ul li .yangzhi-subTitle span{
    font-size: 14px;
    color: #999999;
}

.yangzhi .yangzhi-list ul li:hover{
    border: 1px solid #ff3366;
}

.buy{
    margin-top: 30px;
}

.buy .buy-list{
    background: url("../images/redline.png") no-repeat center;
}

.buy .buy-list .buy-container{
    position: relative;
    margin: 0 auto;
    width: 1200px;
    height: 200px;
}

.buy .buy-list .buy-container ul li{
    float: left;
    cursor: pointer;
}

.buy .buy-list .buy-container ul li:first-child .buy-img{
    background: url("../images/phone.png") no-repeat;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50px;
    left: 90px;
}

.buy .buy-list .buy-container ul li:first-child .buy-jiantou{
    position: absolute;
    top: 83px;
    left: 272px;
}

.buy .buy-list .buy-container ul li:nth-child(2) .buy-jiantou{
    position: absolute;
    top: 83px;
    left: 586px;
}

.buy .buy-list .buy-container ul li:nth-child(3) .buy-jiantou{
    position: absolute;
    top: 83px;
    left: 898px;
}

.buy .buy-list .buy-container ul li:nth-child(2) .buy-img{
    background: url("../images/shidi.png") no-repeat;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50px;
    left: 400px;
}

.buy .buy-list .buy-container ul li:nth-child(3) .buy-img{
    background: url("../images/hetong.png") no-repeat;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50px;
    left: 710px;
}

.buy .buy-list .buy-container ul li:nth-child(4) .buy-img{
    background: url("../images/zhuangche.png") no-repeat;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50px;
    left: 1050px;
}


.buy .buy-list .buy-container ul li:hover:first-child .buy-img{
    background: url("../images/onphone.png") no-repeat;
    width: 100px;
    height: 100px;
}

.buy .buy-list .buy-container ul li:hover .buy-subTitle{
    color: #ff3366;
}

.buy .buy-list .buy-container ul li:hover:nth-child(2) .buy-img{
    background: url("../images/onshidi.png") no-repeat;
    width: 100px;
    height: 100px;
}

.buy .buy-list .buy-container ul li:hover:nth-child(3) .buy-img{
    background: url("../images/onhetong.png") no-repeat;
    width: 100px;
    height: 100px;
}

.buy .buy-list .buy-container ul li:hover:nth-child(4) .buy-img{
    background: url("../images/onzhuangche.png") no-repeat;
    width: 100px;
    height: 100px;
}

.buy-subTitle{
    color: #666666;
    font-size: 18px;
}

.buy .buy-list .buy-container ul li:first-child .buy-subTitle{
    position: absolute;
    top: 165px;
    left: 103px;
}

.buy .buy-list .buy-container ul li:nth-child(2) .buy-subTitle{
    position: absolute;
    top: 165px;
    left: 415px;
}

.buy .buy-list .buy-container ul li:nth-child(3) .buy-subTitle{
    position: absolute;
    top: 165px;
    left: 726px;
}

.buy .buy-list .buy-container ul li:nth-child(4) .buy-subTitle{
    position: absolute;
    top: 165px;
    left: 1066px;
}

.about-list{
  width: 1200px;
    margin: 40px auto 0;
}

.about-list .about-left{
    float: left;
    width: 48%;
    margin-right: 2%;
}

.about-list .about-left span{
    font-size: 14px;
    color: #999999;
    line-height: 2;
}

.about-list .about-left a{
    width: 80px;
    height: 28px;
    text-align: center;
    line-height: 28px;
    color: #fff;
    font-size: 16px;
    background: #C31B1C;
    margin-left: 4px;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    display: block;
    margin-top: 30px;
}

.footer{
    background: #323232;
}

.footer .line1{
    text-align: center;
    padding-top: 40px;
    font-size: 30px;
    color: #ffffff;
}

.footer .line2{
    text-align: center;
    padding-top: 30px;
    font-size: 14px;
    color: #ffffff;
}

.footer .line3{
    text-align: center;
    padding-top: 20px;
    font-size: 14px;
    color: #ffffff;
}

.footer .line4{
    width: 100%;
    height: 1px;
    background: #ffffff;
    margin-top: 40px;
}

.footer .line5{
    width: 1200px;
    margin: 30px auto 0;
    padding-bottom: 49px;
}

.footer .line5 ul li{
    float: left;
    margin-right: 20px;
}

.footer .line5 ul li a{
    font-size: 14px;
    color: #ffffff;
}

.footer .line5 ul li:hover a{
    color: #ff3366;
}

.footer .line5 span{
    float: right;
    font-size: 14px;
    color: #ffffff;
}



