.preNext{
    position: relative;
}

.preNext .line{
    height: 10px;
    overflow: hidden;
    clear: both;
    margin: 4px auto;
    padding-top: 10px;
}

.preNext .text{
    color: #999;
}

.preNext .text a{
    font-size: 12px;
    outline: none;
    text-decoration: none;
    color: #333;
    display: inline-block;
}

.preNext .actBox{
    position: absolute;
    top: 25px;
    right: 0;
}

.preNext .actBox li a{
    color: #666;
}

.preNext .actBox li#act-pnt{
    background-position: 4px -109px;
}
